<div class= "containerr-xxl">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <h1>Task Manager</h2>
    </div>
  </nav>

  <p> </p>

  <div class="row justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Featured
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><<%= @task.name %>></li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>
  </div>


</div>
